## <span style="color:#f1c232">Environment</span>

In [15]:
#Packages

import pandas as pd
import numpy as np
from Utilities import preptools as pt
import eurostat

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## <span style="color:#f1c232">Data analysis</span>

To understand how different patterns of service outsourcing affect the distribution of labor earnings, we start our analysis by understanding the levels.

In [16]:
pt.trade_getter()

                    stk_flow     unit       value flag
code year   nace_r2
AT   2013.0 A_B          EXP  THS_EUR     16173.0
BE   2013.0 A_B          EXP  THS_EUR         NaN    :
CZ   2013.0 A_B          EXP  THS_EUR     18035.0
DK   2013.0 A_B          EXP  THS_EUR    215102.0
EE   2013.0 A_B          EXP  THS_EUR      6259.0
...                      ...      ...         ...  ...
LU   2019.0 UNK          IMP  THS_EUR         NaN    :
NL   2019.0 UNK          IMP  THS_EUR         NaN    :
NO   2019.0 UNK          IMP  THS_EUR  21375144.0
PL   2019.0 UNK          IMP  THS_EUR         0.0
SE   2019.0 UNK          IMP  THS_EUR         NaN    :

[2730 rows x 4 columns]

In [18]:
pt.output_getter()

AttributeError: module 'Utilities.preptools' has no attribute 'output_getter'