# <span style="color:#d3d1df">Ms Thesis Wage Data Discovery</span>

## <span style="color:#f1c232">Overview</span>

**To-Do's:** <br>
*Data Discovery for:*

 1. <span style="color:#00ff21">Wage Data</span>
 2. Employment Data
 3. Trade Data
 4. FDI Data
 5. Sectoral Output Data
 6. Penn Table *(Controls)*
 7. Price Indexes *(Optional depend on data availability of Penn Table)*

## <span style="color:#f1c232">Environment</span>

In [1]:
#Packages

import pandas as pd
from Utilities import wages 
import eurostat

#Variables

EARN_SES_14=["EARN_SES_AGT14","EARN_SES06_14","EARN_SES10_14","EARN_SES14_14","EARN_SES18_14"]

EARN_SES_47=["EARN_SES06_47","EARN_SES10_47","EARN_SES14_47","EARN_SES18_47"]

EARN_SES_16=["EARN_SES_AGT16","EARN_SES06_16","EARN_SES10_16","EARN_SES14_16","EARN_SES18_16"]

## <span style="color:#f1c232">Wage Data</span>

Before discovering the data it is convenient to explain the datasets that will be used in the analysis briefly.
Studies conducted in the field of wage premia generally rely on population surveys to analyze premiums on more categories such as gender, age group, economic activity, and most importantly, occupation. European-level population surveys are conducted once in 4 years accessible from 2002 to 2018 with the name: ***"Structure of Earnings Survey (SES)"***. It is important to mention that the original, or raw, survey data is disaggregated *(individual level)* and not open for public access. It is possible to obtain the so-called **microdata** with the proper request, though due to extended delivery time and short thesis deadline, this research will be conducted by aggregated *(by certain categories)* datasets of **Eurostat**.

After browsi̇ng the Eurostat Database, I ended up with the following three different data sets for the years 2002, 2006, 2010, 2014, 2018:

* Mean hourly earnings by sex, economic activity and occupation *(Not available for 2002)*,
* Mean hourly earnings by sex, age, occupation,
* Mean hourly earnings by economic activity, sex, educational attainment level

Among the three datasets listed above, the first one would be the most proper selection for my research since it contains the necessary categories: economic activity, and occupation. While the need for occupation category is strait forward, the introduction of economic activity to analysis is motivated by the following hypothesizes:

* The offshoring, one of the explanatory variables we will examine in empirics, might be highly related in terms of scope with sectors beside occupational titles. In other words besides the occupation, the sector of economic activity might be useful to investigate offshoring activity.

### <span style="color:#b70101">**Mean hourly earnings by sex, economic activity and occupation (EARN_SES_47)**</span>

##### **Overview**


| Dataset Code  | Year | Description                                                   | Main Source                            | Source Definition                                                     |
|---------------|------|---------------------------------------------------------------|----------------------------------------|-----------------------------------------------------------------------|
| EARN_SES06_47 | 2006 | Mean hourly earnings by economic activity, sex, occupation    | The Structure of Earnings Survey (SES) | https://ec.europa.eu/eurostat/cache/metadata/en/earn_ses06_esms.htm   |
| EARN_SES10_47 | 2010 | Mean hourly earnings by sex, economic activity and occupation | The Structure of Earnings Survey (SES) | https://ec.europa.eu/eurostat/cache/metadata/en/earn_ses2010_esms.htm |
| EARN_SES14_47 | 2014 | Mean hourly earnings by sex, economic activity and occupation | The Structure of Earnings Survey (SES) | https://ec.europa.eu/eurostat/cache/metadata/en/earn_ses2014_esms.htm |
| EARN_SES18_47 | 2018 | Mean hourly earnings by sex, economic activity and occupation | The Structure of Earnings Survey (SES) | https://ec.europa.eu/eurostat/cache/metadata/en/earn_ses2018_esms.htm |

In [7]:
wages.cat_explorer(EARN_SES_47).pivot(index="Category", columns=["Dataset","Year"], values=["#ofUniques","Uniques"])

            #ofUniques
Dataset  EARN_SES06_47 EARN_SES10_47 EARN_SES14_47 EARN_SES18_47
Year              2006          2010          2014          2018
Category
currency           NaN             3             4           NaN  \
freq                 1             1             1             1
geo                 35            39            40            41
indic_se             4             4             4             3
isco08             NaN            13            13            14
isco88              14           NaN           NaN           NaN
nace_r1             22           NaN           NaN           NaN
nace_r2            NaN            29            29            29
sex                  3             3             3             3
sizeclas             2             2             2             2
unit                 3           NaN           NaN             4

                                                    Uniques
Dataset                                       EARN_SES06_47
Year                                                   2006
Category
currency                                                NaN  \
freq                                                    [A]
geo       [EU27_2007, EU25, EU15, EA16, EA13, BE, BG, CZ...
indic_se                     [ERN, E_F_M_PC, OPAY, OP_E_PC]
isco08                                                  NaN
isco88    [TOTAL, ISCO1-5, ISCO1, ISCO2, ISCO3, ISCO4, I...
nace_r1   [C-O, C-O_X_L, C-K, C-F, C-E, C, D, E, F, G-K,...
nace_r2                                                 NaN
sex                                               [T, M, F]
sizeclas                                      [TOTAL, GE10]
unit                                         [EUR, PPS, PC]


Dataset                                       EARN_SES10_47
Year                                                   2010
Category
currency                                     [EUR, PPS, PC]  \
freq                                                    [A]
geo       [EU28, EU27_2007, EU25, EU15, EA17, EA13, BE, ...
indic_se                     [ERN, E_F_M_PC, OPAY, OP_E_PC]
isco08    [TOTAL, OC1-5, OC1, OC2, OC3, OC4, OC5, OC6, O...
isco88                                                  NaN
nace_r1                                                 NaN
nace_r2   [B-S, B-S_X_O, B-N, B-F, B-E, B, C, D, E, F, G...
sex                                               [T, M, F]
sizeclas                                      [TOTAL, GE10]
unit                                                    NaN


Dataset                                       EARN_SES14_47
Year                                                   2014
Category
currency                                [EUR, PPS, PC, NAC]  \
freq                                                    [A]
geo       [EU28, EU27_2007, EA19, EA18, EA17, BE, BG, CZ...
indic_se                     [ERN, E_F_M_PC, OPAY, OP_E_PC]
isco08    [TOTAL, OC1-5, OC1, OC2, OC3, OC4, OC5, OC6, O...
isco88                                                  NaN
nace_r1                                                 NaN
nace_r2   [B-S, B-S_X_O, B-N, B-F, B-E, B, C, D, E, F, G...
sex                                               [T, M, F]
sizeclas                                      [TOTAL, GE10]
unit                                                    NaN


Dataset                                       EARN_SES18_47
Year                                                   2018
Category
currency                                                NaN
freq                                                    [A]
geo       [EU27_2020, EU28, EU27_2007, EA19, EA18, EA17,...
indic_se                               [ERN, OPAY, OP_E_PC]
isco08    [TOTAL, OC1-5, OC1, OC2, OC3, OC4, OC5, OC6-8,...
isco88                                                  NaN
nace_r1                                                 NaN
nace_r2   [B-S, B-S_X_O, B-N, B-F, B-E, B, C, D, E, F, G...
sex                                               [T, M, F]
sizeclas                                      [TOTAL, GE10]
unit                                    [EUR, NAC, PPS, PC]

The *cat explorer* function lists the categories listed in Eurostat's given dataset, EARN_SES_47. Thereby, we can pivot that output and see which categories have how many unique values in any year, or equivalently dataset. Before proceeding with more detailed discoveries for some "problematic" categories, it will be beneficial to briefly list the findings and further actions for the trivial ones.


##### **currency-unit:**

In [15]:
wages.cat_describer(EARN_SES_47,['currency','unit']).pivot(index="Descriptions", columns=["Year"], values=["Category"])

Error: currency not in EARN_SES06_47
Error: unit not in EARN_SES10_47
Error: unit not in EARN_SES14_47
Error: currency not in EARN_SES18_47

                                       Category
Year                                       2006      2010      2014  2018
Descriptions
(EUR, Euro)                                unit  currency  currency  unit
(NAC, National currency)                    NaN       NaN  currency  unit
(PC, Percentage)                           unit  currency  currency  unit
(PPS, Purchasing Power Standard)            NaN  currency  currency   NaN
(PPS, Purchasing power standard (PPS))     unit       NaN       NaN  unit

The output of *cat_describer* clarifies some certain steps for the data preperation part such as:
* The only missing description in currencies is NAC.
* Two categories can be merged without mapping.

##### **freq:**

In [14]:
wages.cat_describer(EARN_SES_47,['freq']).pivot(index="Descriptions", columns=["Year"], values=["Category"])

             Category
Year             2006  2010  2014  2018
Descriptions
(A, Annual)      freq  freq  freq  freq

We observe the same value "[A]" implying data is annual.
- It will not be used in the final table(s).

##### **geo:** <br>

In [13]:
wages.cat_describer(EARN_SES_47,['geo']).pivot(index="Descriptions", columns=["Year"], values=["Category"])

                                                   Category
Year                                                   2006 2010 2014 2018
Descriptions
(AL, Albania)                                           NaN  NaN  NaN  geo
(AT, Austria)                                           geo  geo  geo  geo
(BE, Belgium)                                           geo  geo  geo  geo
(BG, Bulgaria)                                          geo  geo  geo  geo
(CH, Switzerland)                                       NaN  geo  geo  geo
(CY, Cyprus)                                            geo  geo  geo  geo
(CZ, Czechia)                                           geo  geo  geo  geo
(DE, Germany (until 1990 former territory of th...      geo  geo  geo  geo
(DK, Denmark)                                           geo  geo  geo  geo
(EA13, Euro area - 13 countries (2007))                 geo  geo  NaN  NaN
(EA16, Euro area - 16 countries (2009-2010))            geo  NaN  NaN  NaN
(EA17, Euro area - 17 countries (2011-2013))            NaN  geo  geo  geo
(EA18, Euro area - 18 countries (2014))                 NaN  NaN  geo  geo
(EA19, Euro area - 19 countries  (2015-2022))           NaN  NaN  geo  geo
(EE, Estonia)                                           geo  geo  geo  geo
(EL, Greece)                                            geo  geo  geo  geo
(ES, Spain)                                             geo  geo  geo  geo
(EU15, European Union - 15 countries (1995-2004))       geo  geo  NaN  NaN
(EU25, European Union - 25 countries (2004-2006))       geo  geo  NaN  NaN
(EU27_2007, European Union - 27 countries (2007...      geo  geo  geo  geo
(EU27_2020, European Union - 27 countries (from...      NaN  NaN  NaN  geo
(EU28, European Union - 28 countries (2013-2020))       NaN  geo  geo  geo
(FI, Finland)                                           geo  geo  geo  geo
(FR, France)                                            geo  geo  geo  geo
(HR, Croatia)                                           NaN  geo  geo  geo
(HU, Hungary)                                           geo  geo  geo  geo
(IE, Ireland)                                           geo  geo  geo  geo
(IS, Iceland)                                           geo  geo  geo  geo
(IT, Italy)                                             geo  geo  geo  geo
(LT, Lithuania)                                         geo  geo  geo  geo
(LU, Luxembourg)                                        geo  geo  geo  geo
(LV, Latvia)                                            geo  geo  geo  geo
(ME, Montenegro)                                        NaN  NaN  geo  NaN
(MK, North Macedonia)                                   NaN  geo  geo  geo
(MT, Malta)                                             geo  geo  geo  geo
(NL, Netherlands)                                       geo  geo  geo  geo
(NO, Norway)                                            geo  geo  geo  geo
(PL, Poland)                                            geo  geo  geo  geo
(PT, Portugal)                                          geo  geo  geo  geo
(RO, Romania)                                           geo  geo  geo  geo
(RS, Serbia)                                            NaN  NaN  geo  geo
(SE, Sweden)                                            geo  geo  geo  geo
(SI, Slovenia)                                          geo  geo  geo  geo
(SK, Slovakia)                                          geo  geo  geo  geo
(TR, Türkiye)                                           geo  geo  geo  geo
(UK, United Kingdom)                                    geo  geo  geo  geo

* Certain descriptions are irrelevant to our analysis:<br>
    - EA,EA12,EA13,EA16,EA17,EA18,EA19,EU15,EU25,EU27_2007,EU27_2020,EU28

In [20]:
geo_EARN_SES_47=wages.cat_describer(EARN_SES_47,['geo']).groupby(['Descriptions']).count()
geo_EARN_SES_47.head()

                   Dataset  Year  Category
Descriptions
(AL, Albania)            1     1         1
(AT, Austria)            4     4         4
(BE, Belgium)            4     4         4
(BG, Bulgaria)           4     4         4
(CH, Switzerland)        3     3         3

Dataframe *geo_EARN_SES_47* stores the geographic entities and their observation times in EARN_SES_47 dataset.<br>
A similar approach will be applied to different datasets during the project so narrow down the country list while gaining consistency in data.

##### **indic_se:**

In [12]:
wages.cat_describer(EARN_SES_47,['indic_se']).pivot(index="Descriptions", columns=["Year"], values=["Category"])

                                                    Category
Year                                                    2006      2010
Descriptions
(ERN, Gross earnings)                               indic_se  indic_se  \
(E_F_M_PC, Gross earnings of women as a percent...  indic_se  indic_se
(OPAY, Overtime pay)                                indic_se  indic_se
(OP_E_PC, Overtime pay as a percentage of earni...  indic_se  indic_se


Year                                                    2014      2018
Descriptions
(ERN, Gross earnings)                               indic_se  indic_se
(E_F_M_PC, Gross earnings of women as a percent...  indic_se       NaN
(OPAY, Overtime pay)                                indic_se  indic_se
(OP_E_PC, Overtime pay as a percentage of earni...  indic_se  indic_se

This is an earning category.
* We will only use "ERN".

##### **isco08-isco88:**

In [16]:
wages.cat_describer(EARN_SES_47,['isco08','isco88']).pivot(index="Descriptions", columns=["Year"], values=["Category"])

Error: isco08 not in EARN_SES06_47
Error: isco88 not in EARN_SES10_47
Error: isco88 not in EARN_SES14_47
Error: isco88 not in EARN_SES18_47

                                                   Category
Year                                                   2006    2010    2014
Descriptions
(ISCO0, Armed forces)                                isco88     NaN     NaN  \
(ISCO1, Legislators, senior officials and manag...   isco88     NaN     NaN
(ISCO1-5, Non manual workers)                        isco88     NaN     NaN
(ISCO2, Professionals)                               isco88     NaN     NaN
(ISCO3, Technicians and associate professionals)     isco88     NaN     NaN
(ISCO4, Clerks)                                      isco88     NaN     NaN
(ISCO5, Service workers and shop and market sal...   isco88     NaN     NaN
(ISCO6, Skilled agricultural and fishery workers)    isco88     NaN     NaN
(ISCO7, Craft and related trades workers)            isco88     NaN     NaN
(ISCO7-9, Manual workers)                            isco88     NaN     NaN
(ISCO8, Plant and machine operators and assembl...   isco88     NaN     NaN
(ISCO9, Elementary occupations)                      isco88     NaN     NaN
(OC0, Armed forces occupations)                         NaN  isco08  isco08
(OC1, Managers)                                         NaN  isco08  isco08
(OC1-5, Non manual workers)                             NaN  isco08  isco08
(OC2, Professionals)                                    NaN  isco08  isco08
(OC3, Technicians and associate professionals)          NaN  isco08  isco08
(OC4, Clerical support workers)                         NaN  isco08  isco08
(OC5, Service and sales workers)                        NaN  isco08  isco08
(OC6, Skilled agricultural, forestry and fisher...      NaN  isco08  isco08
(OC6-8, Skilled manual workers)                         NaN     NaN     NaN
(OC7, Craft and related trades workers)                 NaN  isco08  isco08
(OC7-9, Manual workers)                                 NaN  isco08  isco08
(OC8, Plant and machine operators and assemblers)       NaN  isco08  isco08
(OC9, Elementary occupations)                           NaN  isco08  isco08
(TOTAL, Total)                                       isco88  isco08  isco08
(UNK, Unknown)                                       isco88     NaN     NaN


Year                                                  2018
Descriptions
(ISCO0, Armed forces)                                  NaN
(ISCO1, Legislators, senior officials and manag...     NaN
(ISCO1-5, Non manual workers)                          NaN
(ISCO2, Professionals)                                 NaN
(ISCO3, Technicians and associate professionals)       NaN
(ISCO4, Clerks)                                        NaN
(ISCO5, Service workers and shop and market sal...     NaN
(ISCO6, Skilled agricultural and fishery workers)      NaN
(ISCO7, Craft and related trades workers)              NaN
(ISCO7-9, Manual workers)                              NaN
(ISCO8, Plant and machine operators and assembl...     NaN
(ISCO9, Elementary occupations)                        NaN
(OC0, Armed forces occupations)                     isco08
(OC1, Managers)                                     isco08
(OC1-5, Non manual workers)                         isco08
(OC2, Professionals)                                isco08
(OC3, Technicians and associate professionals)      isco08
(OC4, Clerical support workers)                     isco08
(OC5, Service and sales workers)                    isco08
(OC6, Skilled agricultural, forestry and fisher...  isco08
(OC6-8, Skilled manual workers)                     isco08
(OC7, Craft and related trades workers)             isco08
(OC7-9, Manual workers)                             isco08
(OC8, Plant and machine operators and assemblers)   isco08
(OC9, Elementary occupations)                       isco08
(TOTAL, Total)                                      isco08
(UNK, Unknown)                                         NaN

Eurostat's "Comparability ISCO_08-ISCO_88" report, which can be found in the Resources folder, states the intentions and the logic behind the change in the classification method from 2002 to afterward. While the document mentions that the changes in the categorization were conducted in a fashion to allow time series analysis, It still requires us to conduct mapping and merging operations on the data.

##### **nace_r1-nace_r2:**

In [17]:
wages.cat_describer(EARN_SES_47,['nace_r1','nace_r2']).pivot(index="Descriptions", columns=["Year"], values=["Category"])

Error: nace_r2 not in EARN_SES06_47
Error: nace_r1 not in EARN_SES10_47
Error: nace_r1 not in EARN_SES14_47
Error: nace_r1 not in EARN_SES18_47

                                                   Category
Year                                                   2006     2010     2014
Descriptions
(B, Mining and quarrying)                               NaN  nace_r2  nace_r2  \
(B-E, Industry (except construction))                   NaN  nace_r2  nace_r2
(B-F, Industry and construction)                        NaN  nace_r2  nace_r2
(B-N, Business economy)                                 NaN  nace_r2  nace_r2
(B-S, Industry, construction and services (exce...      NaN  nace_r2  nace_r2
(B-S_X_O, Industry, construction and services (...      NaN  nace_r2  nace_r2
(C, Manufacturing)                                      NaN  nace_r2  nace_r2
(C, Mining and quarrying)                           nace_r1      NaN      NaN
(C-E, Industry (except construction))               nace_r1      NaN      NaN
(C-F, Industry)                                     nace_r1      NaN      NaN
(C-K, Industry and services (except public admi...  nace_r1      NaN      NaN
(C-O, All NACE activities (except agriculture; ...  nace_r1      NaN      NaN
(C-O_X_L, All NACE activities (except agricultu...  nace_r1      NaN      NaN
(D, Electricity, gas, steam and air conditionin...      NaN  nace_r2  nace_r2
(D, Manufacturing)                                  nace_r1      NaN      NaN
(E, Electricity, gas and water supply)              nace_r1      NaN      NaN
(E, Water supply; sewerage, waste management an...      NaN  nace_r2  nace_r2
(F, Construction)                                   nace_r1  nace_r2  nace_r2
(G, Wholesale and retail trade; repair of motor...      NaN  nace_r2  nace_r2
(G, Wholesale and retail trade; repair of motor...  nace_r1      NaN      NaN
(G-I, Wholesale and retail trade; hotels and re...  nace_r1      NaN      NaN
(G-J, Wholesale and retail trade; transport; ac...      NaN  nace_r2  nace_r2
(G-K, Services (except public administration an...  nace_r1      NaN      NaN
(G-S, Services (except activities of households...      NaN  nace_r2  nace_r2
(G-S_X_O, Services (except public administratio...      NaN  nace_r2  nace_r2
(H, Hotels and restaurants)                         nace_r1      NaN      NaN
(H, Transportation and storage)                         NaN  nace_r2  nace_r2
(I, Accommodation and food service activities)          NaN  nace_r2  nace_r2
(I, Transport, storage and communication)           nace_r1      NaN      NaN
(J, Financial intermediation)                       nace_r1      NaN      NaN
(J, Information and communication)                      NaN  nace_r2  nace_r2
(J_K, Financial intermediation; real estate)        nace_r1      NaN      NaN
(K, Financial and insurance activities)                 NaN  nace_r2  nace_r2
(K, Real estate, renting and business activities)   nace_r1      NaN      NaN
(K-N, Financial and insurance activities; real ...      NaN  nace_r2  nace_r2
(L, Public administration and defence; compulso...  nace_r1      NaN      NaN
(L, Real estate activities)                             NaN  nace_r2  nace_r2
(M, Education)                                      nace_r1      NaN      NaN
(M, Professional, scientific and technical acti...      NaN  nace_r2  nace_r2
(M-O, Education; Health; Other service activities)  nace_r1      NaN      NaN
(N, Administrative and support service activities)      NaN  nace_r2  nace_r2
(N, Health and social work)                         nace_r1      NaN      NaN
(O, Other community, social and personal servic...  nace_r1      NaN      NaN
(O, Public administration and defence; compulso...      NaN  nace_r2  nace_r2
(O-S, Public administration and defence; compul...      NaN  nace_r2  nace_r2
(P, Education)                                          NaN  nace_r2  nace_r2
(P-S, Education; human health and social work a...      NaN  nace_r2  nace_r2
(Q, Human health and social work activities)            NaN  nace_r2  nace_r2
(R, Arts, entertainment and recreation)                 NaN  nace_r2  nace_r2
(S, Other service activities)                           NaN  nace_r2  nace_r2


Year                                                   2018
Descriptions
(B, Mining and quarrying)                           nace_r2
(B-E, Industry (except construction))               nace_r2
(B-F, Industry and construction)                    nace_r2
(B-N, Business economy)                             nace_r2
(B-S, Industry, construction and services (exce...  nace_r2
(B-S_X_O, Industry, construction and services (...  nace_r2
(C, Manufacturing)                                  nace_r2
(C, Mining and quarrying)                               NaN
(C-E, Industry (except construction))                   NaN
(C-F, Industry)                                         NaN
(C-K, Industry and services (except public admi...      NaN
(C-O, All NACE activities (except agriculture; ...      NaN
(C-O_X_L, All NACE activities (except agricultu...      NaN
(D, Electricity, gas, steam and air conditionin...  nace_r2
(D, Manufacturing)                                      NaN
(E, Electricity, gas and water supply)                  NaN
(E, Water supply; sewerage, waste management an...  nace_r2
(F, Construction)                                   nace_r2
(G, Wholesale and retail trade; repair of motor...  nace_r2
(G, Wholesale and retail trade; repair of motor...      NaN
(G-I, Wholesale and retail trade; hotels and re...      NaN
(G-J, Wholesale and retail trade; transport; ac...  nace_r2
(G-K, Services (except public administration an...      NaN
(G-S, Services (except activities of households...  nace_r2
(G-S_X_O, Services (except public administratio...  nace_r2
(H, Hotels and restaurants)                             NaN
(H, Transportation and storage)                     nace_r2
(I, Accommodation and food service activities)      nace_r2
(I, Transport, storage and communication)               NaN
(J, Financial intermediation)                           NaN
(J, Information and communication)                  nace_r2
(J_K, Financial intermediation; real estate)            NaN
(K, Financial and insurance activities)             nace_r2
(K, Real estate, renting and business activities)       NaN
(K-N, Financial and insurance activities; real ...  nace_r2
(L, Public administration and defence; compulso...      NaN
(L, Real estate activities)                         nace_r2
(M, Education)                                          NaN
(M, Professional, scientific and technical acti...  nace_r2
(M-O, Education; Health; Other service activities)      NaN
(N, Administrative and support service activities)  nace_r2
(N, Health and social work)                             NaN
(O, Other community, social and personal servic...      NaN
(O, Public administration and defence; compulso...  nace_r2
(O-S, Public administration and defence; compul...  nace_r2
(P, Education)                                      nace_r2
(P-S, Education; human health and social work a...  nace_r2
(Q, Human health and social work activities)        nace_r2
(R, Arts, entertainment and recreation)             nace_r2
(S, Other service activities)                       nace_r2

##### **sex:**

In [22]:
wages.cat_describer(EARN_SES_47,['sex']).pivot(index="Descriptions", columns=["Year"], values=["Category"])

             Category
Year             2006 2010 2014 2018
Descriptions
(F, Females)      sex  sex  sex  sex
(M, Males)        sex  sex  sex  sex
(T, Total)        sex  sex  sex  sex

##### **sizeclas:**

In [23]:
wages.cat_describer(EARN_SES_47,['sizeclas']).pivot(index="Descriptions", columns=["Year"], values=["Category"])

                              Category
Year                              2006      2010      2014      2018
Descriptions
(GE10, 10 employees or more)  sizeclas  sizeclas  sizeclas  sizeclas
(TOTAL, Total)                sizeclas  sizeclas  sizeclas  sizeclas

##### **Notes for Data Preperation:**

### <span style="color:#b70101">**Mean hourly earnings by sex, age, occupation**</span>

As mentioned withfololows:</br>
</br>

| Dataset Code  | Year | Description                                                                 | Main Source                                 | Source Definition                                                                |
|---------------|------|--------------------------------------------------------------------------------|----------------------------------------|-----------------------------------------------------------------------|
| EARN_SES_AGT14 | 2002 | Mean hourly earnings by sex, age, occupation    | The Structure of Earnings Survey (SES) | https://ec.europa.eu/eurostat/cache/metadata/en/earn_ses_esms.htm   |
| EARN_SES06_14 | 2006 | Mean hourly earnings by sex, age, occupation - NACE Rev. 1.1, C-O excluding L   | The Structure of Earnings Survey (SES) | https://ec.europa.eu/eurostat/cache/metadata/en/earn_ses06_esms.htm   |
| EARN_SES10_14 | 2010 | Mean hourly earnings by sex, age and occupation - NACE Rev. 2, B-S excluding O | The Structure of Earnings Survey (SES) | https://ec.europa.eu/eurostat/cache/metadata/en/earn_ses2010_esms.htm |
| EARN_SES14_14 | 2014 | Mean hourly earnings by sex, age and occupation - NACE Rev. 2, B-S excluding O | The Structure of Earnings Survey (SES) | https://ec.europa.eu/eurostat/cache/metadata/en/earn_ses2014_esms.htm |
| EARN_SES18_14 | 2018 | Mean hourly earnings by sex, age and occupation - NACE Rev. 2, B-S excluding O | The Structure of Earnings Survey (SES) | https://ec.europa.eu/eurostat/cache/metadata/en/earn_ses2018_esms.htm |

</br>
We can describe the categories in these datasets as follows:

In [2]:
wages.cat_explorer(EARN_SES_14).pivot(index="Category", columns=["Dataset","Year"], values=["#ofUniques","Uniques"])

             #ofUniques
Dataset  EARN_SES_AGT14 EARN_SES06_14 EARN_SES10_14 EARN_SES14_14
Year               2002          2006          2010          2014
Category
age                   7             7             6             8  \
currency            NaN           NaN             3             4
freq                  1             1             1             1
geo                  34            35            40            40
indic_se              4             4             4             4
isco08              NaN           NaN            13            13
isco88               13            14           NaN           NaN
sex                   3             3             3             3
sizeclas            NaN             2             2             2
unit                  3             3           NaN           NaN

                                                                  Uniques
Dataset  EARN_SES18_14                                     EARN_SES_AGT14
Year              2018                                               2002
Category
age                  5  [TOTAL, Y_LT30, Y30-39, Y40-49, Y50-59, Y_GE60...  \
currency           NaN                                                NaN
freq                 1                                                [A]
geo                 41  [EU25, EU15, NMS10, EA, EA12, BE, BG, CZ, DK, ...
indic_se             3                     [ERN, E_F_M_PC, OPAY, OP_E_PC]
isco08              14                                                NaN
isco88             NaN  [TOTAL, ISCO1-5, ISCO1, ISCO2, ISCO3, ISCO4, I...
sex                  3                                          [T, M, F]
sizeclas             2                                                NaN
unit                 4                                     [EUR, PPS, PC]


Dataset                                       EARN_SES06_14
Year                                                   2006
Category
age       [TOTAL, Y_LT30, Y30-39, Y40-49, Y50-59, Y_GE60...  \
currency                                                NaN
freq                                                    [A]
geo       [EU27_2007, EU25, EU15, EA16, EA13, BE, BG, CZ...
indic_se                     [ERN, E_F_M_PC, OPAY, OP_E_PC]
isco08                                                  NaN
isco88    [TOTAL, ISCO1-5, ISCO1, ISCO2, ISCO3, ISCO4, I...
sex                                               [T, M, F]
sizeclas                                      [TOTAL, GE10]
unit                                         [EUR, PPS, PC]


Dataset                                       EARN_SES10_14
Year                                                   2010
Category
age         [TOTAL, Y_LT30, Y30-39, Y40-49, Y50-59, Y_GE60]  \
currency                                     [EUR, PPS, PC]
freq                                                    [A]
geo       [EU28, EU27_2007, EU25, EU15, EA17, EA16, EA13...
indic_se                     [ERN, E_F_M_PC, OPAY, OP_E_PC]
isco08    [TOTAL, OC1-5, OC1, OC2, OC3, OC4, OC5, OC6, O...
isco88                                                  NaN
sex                                               [T, M, F]
sizeclas                                      [TOTAL, GE10]
unit                                                    NaN


Dataset                                       EARN_SES14_14
Year                                                   2014
Category
age       [TOTAL, Y_LT30, Y30-39, Y30-49, Y40-49, Y50-59...  \
currency                                [EUR, PPS, PC, NAC]
freq                                                    [A]
geo       [EU28, EU27_2007, EA19, EA18, EA17, BE, BG, CZ...
indic_se                     [ERN, E_F_M_PC, OPAY, OP_E_PC]
isco08    [TOTAL, OC1-5, OC1, OC2, OC3, OC4, OC5, OC6, O...
isco88                                                  NaN
sex                                               [T, M, F]
sizeclas                                      [TOTAL, GE10]
unit                                                    NaN


Dataset                                       EARN_SES18_14
Year                                                   2018
Category
age                    [TOTAL, Y_LT30, Y30-49, Y_GE50, UNK]
currency                                                NaN
freq                                                    [A]
geo       [EU27_2020, EU28, EU27_2007, EA19, EA18, EA17,...
indic_se                               [ERN, OPAY, OP_E_PC]
isco08    [TOTAL, OC1-5, OC1, OC2, OC3, OC4, OC5, OC6-8,...
isco88                                                  NaN
sex                                               [T, M, F]
sizeclas                                      [TOTAL, GE10]
unit                                    [EUR, NAC, PPS, PC]

* age
* currency-unit
* freq
* geo
* indic_se
* isco08-isco88
* sex
* sizeclas

In [5]:
wages.cat_describer(EARN_SES_14,['age']).pivot(index="Descriptions", columns=["Year"], values=["Category"])

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

                              Category
Year                              2002 2006 2010 2014 2018
Descriptions
(TOTAL, Total)                     age  age  age  age  age
(UNK, Unknown)                     age  age  NaN  NaN  age
(Y30-39, From 30 to 39 years)      age  age  age  age  NaN
(Y30-49, From 30 to 49 years)      NaN  NaN  NaN  age  age
(Y40-49, From 40 to 49 years)      age  age  age  age  NaN
(Y50-59, From 50 to 59 years)      age  age  age  age  NaN
(Y_GE50, 50 years or over)         NaN  NaN  NaN  age  age
(Y_GE60, 60 years or over)         age  age  age  age  NaN
(Y_LT30, Less than 30 years)       age  age  age  age  age

Error: currency not in EARN_SES_AGT14
Error: currency not in EARN_SES06_14
Error: unit not in EARN_SES10_14
Error: unit not in EARN_SES14_14
Error: currency not in EARN_SES18_14

                                       Category
Year                                       2002  2006      2010      2014
Descriptions
(EUR, Euro)                                unit  unit  currency  currency  \
(NAC, National currency)                    NaN   NaN       NaN  currency
(PC, Percentage)                           unit  unit  currency  currency
(PPS, Purchasing Power Standard)            NaN   NaN  currency  currency
(PPS, Purchasing power standard (PPS))     unit  unit       NaN       NaN


Year                                    2018
Descriptions
(EUR, Euro)                             unit
(NAC, National currency)                unit
(PC, Percentage)                        unit
(PPS, Purchasing Power Standard)         NaN
(PPS, Purchasing power standard (PPS))  unit

In [3]:
wages.cat_describer(EARN_SES_14,['isco88','isco08']).pivot(index="Descriptions", columns=["Year"], values=["Category"])

Error: isco08 not in EARN_SES_AGT14
Error: isco08 not in EARN_SES06_14
Error: isco88 not in EARN_SES10_14
Error: isco88 not in EARN_SES14_14
Error: isco88 not in EARN_SES18_14

                                                   Category
Year                                                   2002    2006    2010
Descriptions
(ISCO0, Armed forces)                                isco88  isco88     NaN  \
(ISCO1, Legislators, senior officials and manag...   isco88  isco88     NaN
(ISCO1-5, Non manual workers)                        isco88  isco88     NaN
(ISCO2, Professionals)                               isco88  isco88     NaN
(ISCO3, Technicians and associate professionals)     isco88  isco88     NaN
(ISCO4, Clerks)                                      isco88  isco88     NaN
(ISCO5, Service workers and shop and market sal...   isco88  isco88     NaN
(ISCO6, Skilled agricultural and fishery workers)       NaN  isco88     NaN
(ISCO7, Craft and related trades workers)            isco88  isco88     NaN
(ISCO7-9, Manual workers)                            isco88  isco88     NaN
(ISCO8, Plant and machine operators and assembl...   isco88  isco88     NaN
(ISCO9, Elementary occupations)                      isco88  isco88     NaN
(OC0, Armed forces occupations)                         NaN     NaN  isco08
(OC1, Managers)                                         NaN     NaN  isco08
(OC1-5, Non manual workers)                             NaN     NaN  isco08
(OC2, Professionals)                                    NaN     NaN  isco08
(OC3, Technicians and associate professionals)          NaN     NaN  isco08
(OC4, Clerical support workers)                         NaN     NaN  isco08
(OC5, Service and sales workers)                        NaN     NaN  isco08
(OC6, Skilled agricultural, forestry and fisher...      NaN     NaN  isco08
(OC6-8, Skilled manual workers)                         NaN     NaN     NaN
(OC7, Craft and related trades workers)                 NaN     NaN  isco08
(OC7-9, Manual workers)                                 NaN     NaN  isco08
(OC8, Plant and machine operators and assemblers)       NaN     NaN  isco08
(OC9, Elementary occupations)                           NaN     NaN  isco08
(TOTAL, Total)                                       isco88  isco88  isco08
(UNK, Unknown)                                       isco88  isco88     NaN


Year                                                  2014    2018
Descriptions
(ISCO0, Armed forces)                                  NaN     NaN
(ISCO1, Legislators, senior officials and manag...     NaN     NaN
(ISCO1-5, Non manual workers)                          NaN     NaN
(ISCO2, Professionals)                                 NaN     NaN
(ISCO3, Technicians and associate professionals)       NaN     NaN
(ISCO4, Clerks)                                        NaN     NaN
(ISCO5, Service workers and shop and market sal...     NaN     NaN
(ISCO6, Skilled agricultural and fishery workers)      NaN     NaN
(ISCO7, Craft and related trades workers)              NaN     NaN
(ISCO7-9, Manual workers)                              NaN     NaN
(ISCO8, Plant and machine operators and assembl...     NaN     NaN
(ISCO9, Elementary occupations)                        NaN     NaN
(OC0, Armed forces occupations)                     isco08  isco08
(OC1, Managers)                                     isco08  isco08
(OC1-5, Non manual workers)                         isco08  isco08
(OC2, Professionals)                                isco08  isco08
(OC3, Technicians and associate professionals)      isco08  isco08
(OC4, Clerical support workers)                     isco08  isco08
(OC5, Service and sales workers)                    isco08  isco08
(OC6, Skilled agricultural, forestry and fisher...  isco08  isco08
(OC6-8, Skilled manual workers)                        NaN  isco08
(OC7, Craft and related trades workers)             isco08  isco08
(OC7-9, Manual workers)                             isco08  isco08
(OC8, Plant and machine operators and assemblers)   isco08  isco08
(OC9, Elementary occupations)                       isco08  isco08
(TOTAL, Total)                                      isco08  isco08
(UNK, Unknown)                                         NaN     NaN

In [4]:
wages.cat_describer(EARN_SES_14,['geo']).pivot(index="Descriptions", columns=["Year"], values=["Category"])

                                                   Category
Year                                                   2002 2006 2010 2014
Descriptions
(AL, Albania)                                           NaN  NaN  NaN  NaN  \
(AT, Austria)                                           geo  geo  geo  geo
(BE, Belgium)                                           geo  geo  geo  geo
(BG, Bulgaria)                                          geo  geo  geo  geo
(CH, Switzerland)                                       NaN  NaN  geo  geo
(CY, Cyprus)                                            geo  geo  geo  geo
(CZ, Czechia)                                           geo  geo  geo  geo
(DE, Germany (until 1990 former territory of th...      geo  geo  geo  geo
(DK, Denmark)                                           geo  geo  geo  geo
(EA, Euro area (EA11-1999, EA12-2001, EA13-2007...      geo  NaN  NaN  NaN
(EA12, Euro area - 12 countries (2001-2006))            geo  NaN  NaN  NaN
(EA13, Euro area - 13 countries (2007))                 NaN  geo  geo  NaN
(EA16, Euro area - 16 countries (2009-2010))            NaN  geo  geo  NaN
(EA17, Euro area - 17 countries (2011-2013))            NaN  NaN  geo  geo
(EA18, Euro area - 18 countries (2014))                 NaN  NaN  NaN  geo
(EA19, Euro area - 19 countries  (2015-2022))           NaN  NaN  NaN  geo
(EE, Estonia)                                           geo  geo  geo  geo
(EL, Greece)                                            geo  geo  geo  geo
(ES, Spain)                                             geo  geo  geo  geo
(EU15, European Union - 15 countries (1995-2004))       geo  geo  geo  NaN
(EU25, European Union - 25 countries (2004-2006))       geo  geo  geo  NaN
(EU27_2007, European Union - 27 countries (2007...      NaN  geo  geo  geo
(EU27_2020, European Union - 27 countries (from...      NaN  NaN  NaN  NaN
(EU28, European Union - 28 countries (2013-2020))       NaN  NaN  geo  geo
(FI, Finland)                                           geo  geo  geo  geo
(FR, France)                                            geo  geo  geo  geo
(HR, Croatia)                                           NaN  NaN  geo  geo
(HU, Hungary)                                           geo  geo  geo  geo
(IE, Ireland)                                           geo  geo  geo  geo
(IS, Iceland)                                           geo  geo  geo  geo
(IT, Italy)                                             geo  geo  geo  geo
(LT, Lithuania)                                         geo  geo  geo  geo
(LU, Luxembourg)                                        geo  geo  geo  geo
(LV, Latvia)                                            geo  geo  geo  geo
(ME, Montenegro)                                        NaN  NaN  NaN  geo
(MK, North Macedonia)                                   NaN  NaN  geo  geo
(MT, Malta)                                             geo  geo  geo  geo
(NL, Netherlands)                                       geo  geo  geo  geo
(NMS10, New Member States - 10 countries (2004-...      geo  NaN  NaN  NaN
(NO, Norway)                                            geo  geo  geo  geo
(PL, Poland)                                            geo  geo  geo  geo
(PT, Portugal)                                          geo  geo  geo  geo
(RO, Romania)                                           geo  geo  geo  geo
(RS, Serbia)                                            NaN  NaN  NaN  geo
(SE, Sweden)                                            geo  geo  geo  geo
(SI, Slovenia)                                          geo  geo  geo  geo
(SK, Slovakia)                                          geo  geo  geo  geo
(TR, Türkiye)                                           NaN  geo  geo  geo
(UK, United Kingdom)                                    geo  geo  geo  geo


Year                                               2018
Descriptions
(AL, Albania)                                       geo
(AT, Austria)                                       geo
(BE, Belgium)                                       geo
(BG, Bulgaria)                                      geo
(CH, Switzerland)                                   geo
(CY, Cyprus)                                        geo
(CZ, Czechia)                                       geo
(DE, Germany (until 1990 former territory of th...  geo
(DK, Denmark)                                       geo
(EA, Euro area (EA11-1999, EA12-2001, EA13-2007...  NaN
(EA12, Euro area - 12 countries (2001-2006))        NaN
(EA13, Euro area - 13 countries (2007))             NaN
(EA16, Euro area - 16 countries (2009-2010))        NaN
(EA17, Euro area - 17 countries (2011-2013))        geo
(EA18, Euro area - 18 countries (2014))             geo
(EA19, Euro area - 19 countries  (2015-2022))       geo
(EE, Estonia)                                       geo
(EL, Greece)                                        geo
(ES, Spain)                                         geo
(EU15, European Union - 15 countries (1995-2004))   NaN
(EU25, European Union - 25 countries (2004-2006))   NaN
(EU27_2007, European Union - 27 countries (2007...  geo
(EU27_2020, European Union - 27 countries (from...  geo
(EU28, European Union - 28 countries (2013-2020))   geo
(FI, Finland)                                       geo
(FR, France)                                        geo
(HR, Croatia)                                       geo
(HU, Hungary)                                       geo
(IE, Ireland)                                       geo
(IS, Iceland)                                       geo
(IT, Italy)                                         geo
(LT, Lithuania)                                     geo
(LU, Luxembourg)                                    geo
(LV, Latvia)                                        geo
(ME, Montenegro)                                    NaN
(MK, North Macedonia)                               geo
(MT, Malta)                                         geo
(NL, Netherlands)                                   geo
(NMS10, New Member States - 10 countries (2004-...  NaN
(NO, Norway)                                        geo
(PL, Poland)                                        geo
(PT, Portugal)                                      geo
(RO, Romania)                                       geo
(RS, Serbia)                                        geo
(SE, Sweden)                                        geo
(SI, Slovenia)                                      geo
(SK, Slovakia)                                      geo
(TR, Türkiye)                                       geo
(UK, United Kingdom)                                geo

* Certain descriptions are irrelevant to our analysis:<br>
    - EA,EA12,EA13,EA16,EA17,EA18,EA19,EU15,EU25,EU27_2007,EU27_2020,EU28

In [24]:
wages.cat_describer(EARN_SES_14,['geo']).groupby(['Descriptions']).count().query('Dataset>=4')

                                                    Dataset  Year  Category
Descriptions
(AT, Austria)                                             5     5         5
(BE, Belgium)                                             5     5         5
(BG, Bulgaria)                                            5     5         5
(CY, Cyprus)                                              5     5         5
(CZ, Czechia)                                             5     5         5
(DE, Germany (until 1990 former territory of th...        5     5         5
(DK, Denmark)                                             5     5         5
(EE, Estonia)                                             5     5         5
(EL, Greece)                                              5     5         5
(ES, Spain)                                               5     5         5
(EU27_2007, European Union - 27 countries (2007...        4     4         4
(FI, Finland)                                             5     5         5
(FR, France)                                              5     5         5
(HU, Hungary)                                             5     5         5
(IE, Ireland)                                             5     5         5
(IS, Iceland)                                             5     5         5
(IT, Italy)                                               5     5         5
(LT, Lithuania)                                           5     5         5
(LU, Luxembourg)                                          5     5         5
(LV, Latvia)                                              5     5         5
(MT, Malta)                                               5     5         5
(NL, Netherlands)                                         5     5         5
(NO, Norway)                                              5     5         5
(PL, Poland)                                              5     5         5
(PT, Portugal)                                            5     5         5
(RO, Romania)                                             5     5         5
(SE, Sweden)                                              5     5         5
(SI, Slovenia)                                            5     5         5
(SK, Slovakia)                                            5     5         5
(TR, Türkiye)                                             4     4         4
(UK, United Kingdom)                                      5     5         5

In [25]:
wages.cat_describer(EARN_SES_14,['geo']).groupby(['Descriptions']).count().query('Dataset>=4').count()

Dataset     31
Year        31
Category    31
dtype: int64

In [3]:

eurostat.get_dic('EARN_SES06_14','indic_se', full=False)

[('ERN', 'Gross earnings'),
 ('E_F_M_PC', 'Gross earnings of women as a percentage of those of men'),
 ('OPAY', 'Overtime pay'),
 ('OP_E_PC', 'Overtime pay as a percentage of earnings')]

### Flag Check

For potential problems, it is good to check the data quality prior. Thereby we will import the data including the Flags which are:
 * b = break in time series, c = confidential, d = definition differs, see metadata, e = estimated, f = forecast, n = not significant, p = provisional, r = revised, s = Eurostat estimate, u = low reliability, z = not applicable.

I will check  ***n,p,u*** among these flags for wage and employment data from Eurostat and record it to the data catalog.

In [67]:
df.query('f == "s"').groupby(['geo\TIME_PERIOD'])['unit'].count()

geo\TIME_PERIOD
EA12    672
EU15    672
EU25    672
Name: unit, dtype: int64