# <span style="color:#d3d1df">Ms Thesis Employment Data Discovery</span>

**To-Do's:** <br>
*Data Discovery for:*

 1. Wage Data
 2. <span style="color:#00ff21">Employment Data</span>
 3. Trade Data
 4. FDI Data
 5. Sectoral Output Data
 6. Penn Table *(Controls)*
 7. Price Indexes *(Optional depend on data availability of Penn Table)*

## <span style="color:#f1c232">Environment</span>

In [1]:
#Packages

import pandas as pd
from Utilities import wages 
import eurostat

#Variables

## <span style="color:#f1c232">Employment Data</span>

### <span style="color:#900a37">**Population by educational attainment level, sex, age and country of birth (%)**</span>

In [13]:
for i in eurostat.get_pars("EDAT_LFS_9912"):
    print(i,":", eurostat.get_par_values("EDAT_LFS_9912",i))

freq : ['A']
unit : ['PC']
sex : ['T', 'M', 'F']
isced11 : ['ED0-2', 'ED3-8', 'ED3_4', 'ED3_4GEN', 'ED3_4VOC', 'ED5-8']
c_birth : ['EU27_2020_FOR', 'NEU27_2020_FOR', 'FOR', 'NAT', 'TOTAL', 'NRP']
age : ['Y15-24', 'Y15-64', 'Y15-69', 'Y15-74', 'Y18-24', 'Y18-64', 'Y18-69', 'Y18-74', 'Y20-24', 'Y25-34', 'Y25-54', 'Y25-64', 'Y25-69', 'Y25-74', 'Y30-34', 'Y55-74']
geo : ['EU27_2020', 'EA20', 'BE', 'BG', 'CZ', 'DK', 'DE', 'EE', 'IE', 'EL', 'ES', 'FR', 'HR', 'IT', 'CY', 'LV', 'LT', 'LU', 'HU', 'MT', 'NL', 'AT', 'PL', 'PT', 'RO', 'SI', 'SK', 'FI', 'SE', 'IS', 'NO', 'CH', 'UK', 'ME', 'MK', 'RS', 'TR']

In [8]:
eurostat.get_data_df("EDAT_LFS_9912", True).columns

Index(['freq', 'unit', 'sex', 'isced11', 'c_birth', 'age', 'geo\TIME_PERIOD',
       '2004_value', '2004_flag', '2005_value', '2005_flag', '2006_value',
       '2006_flag', '2007_value', '2007_flag', '2008_value', '2008_flag',
       '2009_value', '2009_flag', '2010_value', '2010_flag', '2011_value',
       '2011_flag', '2012_value', '2012_flag', '2013_value', '2013_flag',
       '2014_value', '2014_flag', '2015_value', '2015_flag', '2016_value',
       '2016_flag', '2017_value', '2017_flag', '2018_value', '2018_flag',
       '2019_value', '2019_flag', '2020_value', '2020_flag', '2021_value',
       '2021_flag', '2022_value', '2022_flag'],
      dtype='object')

### <span style="color:#900a37">**Employment by sex, age, professional status and occupation (1 000)**</span>

In [15]:
for i in eurostat.get_pars("LFSA_EGAIS"):
    print(i,":", eurostat.get_par_values("LFSA_EGAIS",i))

freq : ['A']
unit : ['THS_PER']
sex : ['T', 'M', 'F']
age : ['Y15-24', 'Y15-39', 'Y15-59', 'Y15-64', 'Y15-74', 'Y_GE15', 'Y20-64', 'Y25-49', 'Y25-54', 'Y25-59', 'Y25-64', 'Y25-74', 'Y_GE25', 'Y40-59', 'Y40-64', 'Y50-59', 'Y50-64', 'Y50-74', 'Y_GE50', 'Y55-64', 'Y55-74', 'Y_GE65', 'Y_GE75']
wstatus : ['EMP', 'CFAM', 'NCFAM', 'NRP']
isco08 : ['TOTAL', 'OC1', 'OC2', 'OC3', 'OC4', 'OC5', 'OC6', 'OC7', 'OC8', 'OC9', 'OC0', 'NRP']
geo : ['EU27_2020', 'EA20', 'BE', 'BG', 'CZ', 'DK', 'DE', 'EE', 'IE', 'EL', 'ES', 'FR', 'HR', 'IT', 'CY', 'LV', 'LT', 'LU', 'HU', 'MT', 'NL', 'AT', 'PL', 'PT', 'RO', 'SI', 'SK', 'FI', 'SE', 'IS', 'NO', 'CH', 'UK', 'ME', 'MK', 'RS', 'TR']

In [16]:
eurostat.get_data_df("LFSA_EGAIS", True).columns

Index(['freq', 'unit', 'sex', 'age', 'wstatus', 'isco08', 'geo\TIME_PERIOD',
       '1983_value', '1983_flag', '1984_value', '1984_flag', '1985_value',
       '1985_flag', '1986_value', '1986_flag', '1987_value', '1987_flag',
       '1988_value', '1988_flag', '1989_value', '1989_flag', '1990_value',
       '1990_flag', '1991_value', '1991_flag', '1992_value', '1992_flag',
       '1993_value', '1993_flag', '1994_value', '1994_flag', '1995_value',
       '1995_flag', '1996_value', '1996_flag', '1997_value', '1997_flag',
       '1998_value', '1998_flag', '1999_value', '1999_flag', '2000_value',
       '2000_flag', '2001_value', '2001_flag', '2002_value', '2002_flag',
       '2003_value', '2003_flag', '2004_value', '2004_flag', '2005_value',
       '2005_flag', '2006_value', '2006_flag', '2007_value', '2007_flag',
       '2008_value', '2008_flag', '2009_value', '2009_flag', '2010_value',
       '2010_flag', '2011_value', '2011_flag', '2012_value', '2012_flag',
       '2013_value', '2013_flag', '2014_value', '2014_flag', '2015_value',
       '2015_flag', '2016_value', '2016_flag', '2017_value', '2017_flag',
       '2018_value', '2018_flag', '2019_value', '2019_flag', '2020_value',
       '2020_flag', '2021_value', '2021_flag', '2022_value', '2022_flag'],
      dtype='object')

In [29]:
eurostat.get_dic("LFSA_EGAIS","isco08", full=False)

[('TOTAL', 'Total'),
 ('OC1', 'Managers'),
 ('OC2', 'Professionals'),
 ('OC3', 'Technicians and associate professionals'),
 ('OC4', 'Clerical support workers'),
 ('OC5', 'Service and sales workers'),
 ('OC6', 'Skilled agricultural, forestry and fishery workers'),
 ('OC7', 'Craft and related trades workers'),
 ('OC8', 'Plant and machine operators and assemblers'),
 ('OC9', 'Elementary occupations'),
 ('OC0', 'Armed forces occupations'),
 ('NRP', 'No response')]

### <span style="color:#900a37">**Employment by sex, age, occupation and economic activity (from 2008 onwards, NACE Rev. 2) (1 000)**</span>

In [17]:
for i in eurostat.get_pars("LFSA_EISN2"):
    print(i,":", eurostat.get_par_values("LFSA_EGAIS",i))

freq : ['A']
age : ['Y15-24', 'Y15-39', 'Y15-59', 'Y15-64', 'Y15-74', 'Y_GE15', 'Y20-64', 'Y25-49', 'Y25-54', 'Y25-59', 'Y25-64', 'Y25-74', 'Y_GE25', 'Y40-59', 'Y40-64', 'Y50-59', 'Y50-64', 'Y50-74', 'Y_GE50', 'Y55-64', 'Y55-74', 'Y_GE65', 'Y_GE75']
sex : ['T', 'M', 'F']
nace_r2 : []
isco08 : ['TOTAL', 'OC1', 'OC2', 'OC3', 'OC4', 'OC5', 'OC6', 'OC7', 'OC8', 'OC9', 'OC0', 'NRP']
unit : ['THS_PER']
geo : ['EU27_2020', 'EA20', 'BE', 'BG', 'CZ', 'DK', 'DE', 'EE', 'IE', 'EL', 'ES', 'FR', 'HR', 'IT', 'CY', 'LV', 'LT', 'LU', 'HU', 'MT', 'NL', 'AT', 'PL', 'PT', 'RO', 'SI', 'SK', 'FI', 'SE', 'IS', 'NO', 'CH', 'UK', 'ME', 'MK', 'RS', 'TR']

In [38]:
eurostat.get_data_df("LFSA_EISN2", True).columns

Index(['freq', 'age', 'sex', 'nace_r2', 'isco08', 'unit', 'geo\TIME_PERIOD',
       '2008_value', '2008_flag', '2009_value', '2009_flag', '2010_value',
       '2010_flag', '2011_value', '2011_flag', '2012_value', '2012_flag',
       '2013_value', '2013_flag', '2014_value', '2014_flag', '2015_value',
       '2015_flag', '2016_value', '2016_flag', '2017_value', '2017_flag',
       '2018_value', '2018_flag', '2019_value', '2019_flag', '2020_value',
       '2020_flag', '2021_value', '2021_flag', '2022_value', '2022_flag'],
      dtype='object')

In [30]:
eurostat.get_data_df("LFSA_EGAN2", True)["nace_r2"].unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'NRP', 'O', 'P', 'Q', 'R', 'S', 'T', 'TOTAL', 'U'],
      dtype=object)

In [37]:
eurostat.get_dic("LFSA_EISN2","nace_r2", full=False)

[('TOTAL', 'Total - all NACE activities'),
 ('A', 'Agriculture, forestry and fishing'),
 ('B', 'Mining and quarrying'),
 ('C', 'Manufacturing'),
 ('D', 'Electricity, gas, steam and air conditioning supply'),
 ('E', 'Water supply; sewerage, waste management and remediation activities'),
 ('F', 'Construction'),
 ('G', 'Wholesale and retail trade; repair of motor vehicles and motorcycles'),
 ('H', 'Transportation and storage'),
 ('I', 'Accommodation and food service activities'),
 ('J', 'Information and communication'),
 ('K', 'Financial and insurance activities'),
 ('L', 'Real estate activities'),
 ('M', 'Professional, scientific and technical activities'),
 ('N', 'Administrative and support service activities'),
 ('O', 'Public administration and defence; compulsory social security'),
 ('P', 'Education'),
 ('Q', 'Human health and social work activities'),
 ('R', 'Arts, entertainment and recreation'),
 ('S', 'Other service activities'),
 ('T',
  'Activities of households as employers; undifferentiated goods- and services-producing activities of households for own use'),
 ('U', 'Activities of extraterritorial organisations and bodies'),
 ('NRP', 'No response')]

In [40]:
eurostat.get_dic("LFSA_EISN2","isco08", full=False)

[('TOTAL', 'Total'),
 ('OC1', 'Managers'),
 ('OC2', 'Professionals'),
 ('OC3', 'Technicians and associate professionals'),
 ('OC4', 'Clerical support workers'),
 ('OC5', 'Service and sales workers'),
 ('OC6', 'Skilled agricultural, forestry and fishery workers'),
 ('OC7', 'Craft and related trades workers'),
 ('OC8', 'Plant and machine operators and assemblers'),
 ('OC9', 'Elementary occupations'),
 ('OC0', 'Armed forces occupations'),
 ('NRP', 'No response')]

In [3]:
eurostat.get_pars('LFSA_ENEWASN')

['freq', 'unit', 'citizen', 'wstatus', 'age', 'geo']

In [4]:
eurostat.get_pars('JVS_Q_NACE2')

['freq', 's_adj', 'nace_r2', 'sizeclas', 'indic_em', 'geo']

In [5]:
eurostat.get_pars('EDAT_LFS_9912')

['freq', 'unit', 'sex', 'isced11', 'c_birth', 'age', 'geo']

In [6]:
eurostat.get_pars('LFSA_EISN2')

['freq', 'age', 'sex', 'nace_r2', 'isco08', 'unit', 'geo']

In [7]:
eurostat.get_pars('LFSA_EGAIS')

['freq', 'unit', 'sex', 'age', 'wstatus', 'isco08', 'geo']

In [8]:
eurostat.get_pars('LFSA_EPGAIS')

['freq', 'unit', 'sex', 'age', 'isco08', 'worktime', 'geo']