In [1]:
#Packages

import pandas as pd
import numpy as np
from Utilities import wages 
import eurostat

In [2]:
#Get the datasets via Eurostat API and concat them to get the inititial data 
df=eurostat.get_data_df('EXT_STEC01', flags=True)

In [3]:
df

,freq,unit,sizeclas,stk_flow,nace_r2,partner,geo\TIME_PERIOD,2013_value,2013_flag,2014_value,...,2015_value,2015_flag,2016_value,2016_flag,2017_value,2017_flag,2018_value,2018_flag,2019_value,2019_flag
0,A,THS_EUR,0-49,EXP,A_B,EU27_2020,EE,NaN,:,NaN,...,NaN,:,NaN,:,NaN,:,NaN,:,16104.0,
1,A,THS_EUR,0-49,EXP,A_B,EU27_2020,IE,NaN,:,NaN,...,NaN,:,NaN,:,NaN,:,NaN,: c,NaN,: c
2,A,THS_EUR,0-49,EXP,A_B,EU27_2020,LT,NaN,:,NaN,...,NaN,:,NaN,:,NaN,: c,NaN,: c,NaN,: c
3,A,THS_EUR,0-49,EXP,A_B,EU27_2020,NO,NaN,:,NaN,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,: c
4,A,THS_EUR,0-49,EXP,A_B,EXT_EU27_2020,EE,NaN,:,NaN,...,NaN,:,NaN,:,NaN,:,NaN,:,144.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4181,A,THS_EUR,UNK,IMP,UNK,WORLD,LU,6298265.0,,5962528.0,...,5522017.0,,4845412.0,,5370744.0,,7333921.0,,NaN,:
4182,A,THS_EUR,UNK,IMP,UNK,WORLD,NL,45630056.0,,58631521.0,...,92582687.0,,57554140.0,,63163970.0,,69427476.0,,NaN,:
4183,A,THS_EUR,UNK,IMP,UNK,WORLD,NO,20288301.0,,NaN,...,15084812.0,,14379122.0,,NaN,:,NaN,:,8572654.0,
4184,A,THS_EUR,UNK,IMP,UNK,WORLD,PL,NaN,:,NaN,...,NaN,:,11753681.0,,NaN,:,13970364.0,,13999084.0,
4185,A,THS_EUR,UNK,IMP,UNK,WORLD,SE,NaN,:,12805449.0,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,: